###### Requirements without Version Specifiers ######
scp
matplotlib
scipy
pandas
nose

###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
numpy >= 1.9
paramiko >= 2.0

